<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
      <div><%- include("message", {message: messages[i]})%></div>
      <% } %>
    </ul>
    <a href="/new">Send a Message!</a>
  </body>
</html>
